@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');  
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 

/* header-section */
.header{
    height: 5vh;
}
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #222222;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav ul li a.order, a:hover{
  color: white;
  background: orange;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
.menubar{
  margin-top: -1%;
}
.isi-judul{
  margin-left: 2%;
}

.logo-img{
  height: 80px;
  width: 80px;
}

/* isian order */
.pesan{
  display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
      grid-gap: 0.2rem;
      grid-template-areas: 
      "traveloka tiket-com"
      "wa wa";
      padding-top: 8%;
      height: 60vh;
      margin-left: 2%;
}

.pesan .traveloka{
  grid-area: traveloka;
}

.pesan .tiket-com{
  grid-area: tiket-com;
}

.pesan .whatsapp{
  grid-area: wa;
  padding-top: 2%;
}

.pesan .button{
  background-color: rgba(43,159,205, 0.8);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 2%;
}

.pesan .button-tiket{
  background-color: rgba(0,100,210, 0.8);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 2%;
}

/* footer */
.footer{
  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-gap: 0.2rem;
    grid-template-areas: 
    "kontak sosmed booking"
    "kontak sosmed booking"
    "kaki kaki kaki";
    height: 40vh;
    background-color: rgb(255, 217, 0);
}

.footer .alamat{
  grid-area: kontak;
  margin-left: 3%;
}

.footer .sosmed{
  grid-area: sosmed;
}

.footer .instgram-img{
  height: 70px;
  width: 70px;
}

.footer .booking{
  grid-area: booking;
  margin-top: 10%;
}

.footer .booking .button{
  background-color: #222222;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.footer .kaki{
  grid-area: kaki;
  text-align: center;
  margin-top: 5%;
}
    @media (max-width: 1000px){
      nav{
        padding: 0 40px 0 50px;
      }
    }
    @media (max-width: 920px) {
      nav .menu-btn i{
        display: block;
      }
      #click:checked ~ .menu-btn i:before{
        content: "\f00d";
      }
      nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background: #222222;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
      }
      #click:checked ~ ul{
        left: 0;
      }
      nav ul li{
        width: 100%;
        margin: 40px 0;
      }
      nav ul li a{
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      #click:checked ~ ul li a{
        margin-left: 0px;
      }
      nav ul li a.active,
      nav ul li a:hover{
        background: none;
        color: orange;
      }
      .pesan{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas:
         "traveloka"
         "tiket-com"
         "wa";
         width: 100%;
         margin-top: 13%;
      }
      .footer{
        grid-template-columns: 1fr;
          grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
          grid-template-areas:
          "kontak"
          "sosmed"
          "booking"
          "kaki";
          height: 40vh;
          width: 100%;
      }
      .sosmed{
        margin-left: 2%;
      }
    }
@media (max-width: 970px) and (min-width: 500px){
  .pesan{
    height: 40vh;
    margin-top: 0%;
  }
  .footer{
    height: 50vh;
  }
}